body {
    font-family: Arial, Helvetica, sans-serif;
}

.Texto {
    text-align: center;
    margin: 20px 0px;
}

h3 {
    font-weight: lighter;
    margin: 0 10px;
}

#startButton {
    display: block;
    margin: 10px auto;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    color: rgb(255, 251, 245);
    transition: background-color 0.3s ease;
    background: rgba(7, 52, 249, 1);

}

#startButton:hover {
    background-color: rgb(53, 127, 245);
}

#startButton.pause {
    background: #f3f36c
}

#startButton.pause:hover {
    background: #e9e956;

}

.signal {
    height: 10px;

}

.graph {

    margin: 10px 20px 20px 0;
    border-radius: 10px;
    border-width: 1px;
    padding: 25px 10px;
    box-shadow: 2px 2px 8px 3px rgba(116, 157, 240, 0.2);
    display: inline-block;

}