#contValues{
    
    border-radius: 10px;
    padding: 10px 30px;
}
#btnvalues{
    background-color:rgba(7, 52, 249, 1);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    display: block;
    margin: 10px auto;
    padding: 5px 80px;
    
    
}
#btnDelete{
    background-color: #3d3c46;
    color:rgb(255, 249, 241);
    border: none;
    border-radius: 15px;
    display: block;
    margin: 10px auto;
    padding: 5px 60px;
}

#sidebar{

    margin-top: 50%;
    
}